@import url("~node_modules/font-awesome/css/font-awesome.min.css");
@import url("~src/scss/webcss.css");

body{
    min-width: 100vw;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

@import url('~src/scss/app.scss');
